{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": [
      "off"
    ],
    "object-shorthand": [
      "error",
      "always",
      {
        "avoidQuotes": false
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ]
  }
}