html, body{
  height: 100%;
  background-color: #00e9a8;
}
.navbar {
  border-radius: 0;
}
.nav-item.tray{
  height: 24px;
  width: 40px;
}
.wmr-jumbotron{
  background-color:#00e9a8;
  margin-bottom: 0px;
}

.container.list {
  max-width: 576px;
}

.bg-wmr{
  background-color:#0068FF;

  a.nav-link {
    color: aliceblue;
  }
}
