html, body{
  height: 100%;
}

.nav-item.tray{
  height: 24px;
  width: 40px;
}

.wmr-jumbotron{
  background-color:#00e9a8;
  margin-bottom: 0px;
}
.container.list{
  max-width: 576px;
}

.bg-wmr{
  background-color:#0068FF;
}